{% block main %}
    <div class="nav-tabs-custom form-tabs-tablist">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#console" data-bs-toggle="tab" data-tab="tab">{{ 'pteroca.server.console'|trans }}</a>
            </li>
            {% if hasConfigurableStartup %}
                <li class="nav-item">
                    <a class="nav-link" href="#startup" data-bs-toggle="tab" data-tab="tab">{{ 'pteroca.server.startup'|trans }}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#settings" data-bs-toggle="tab" data-tab="tab">{{ 'pteroca.server.settings'|trans }}</a>
            </li>
        </ul>
    </div>
{% endblock %}