
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/**/*
!public/uploads/**/.gitkeep
/var/
/vendor/
/.idea
src/Core/Tests/E2E/.env.test
src/Core/Tests/E2E/test-results/
src/Core/Tests/E2E/playwright-report/
src/Core/Tests/E2E/node_modules/
src/Core/Tests/E2E/package-lock.json
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
junit.xml
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
