{% if motdEnabled %}
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="card-title">{{ motdTitle|raw }}</h5>
        </div>
        <div class="card-body">
            {{ motdMessage|raw }}
        </div>
    </div>
{% endif %}