.sidebar {
    background: var(--primary-color);
}

.main-header #header-logo .logo-custom,
#main-menu .menu .menu-item-label,
#main-menu .menu .menu-icon {
    color: #FFFFFF;
}

#main-menu .menu .menu-item.active .menu-item-label,
#main-menu .menu .menu-item.active:not(.expanded) .menu-icon,
#main-menu .menu .menu-item.active:not(.expanded) a {
    color: var(--primary-color);
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active:focus, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):focus, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.ea-dark-scheme .form-switch .form-check-input:checked, .form-switch .form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
}

.dropdown-settings .dropdown-item.active, .dropdown-settings .dropdown-item.active i {
    color: var(--primary-color);
    background: rgba(89, 134, 165, 0.05);
}

.dropdown-settings .dropdown-item.active {
    box-shadow: inset 0 0 0 1px rgba(89, 134, 165, 0.5);
}

.panel-sidebar-logo {
    width: 95%;
}

.panel-login-logo {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1rem;
}

.page-login {
    background: rgb(89, 134, 165) !important;
}

.login-wrapper .form-widget input {
    border-color: rgba(89, 134, 165, 0.5);
}

.form-widget .custom-file-input:focus~.custom-file-label, .form-widget .form-select:focus, .form-widget input.form-check-input:focus, .form-widget input.form-control:focus, .form-widget textarea.form-control:focus {
    border-color: #b8a494;
}

.form-check-input:checked {
    background-color: rgb(89, 134, 165);
    border-color: rgb(89, 134, 165);
}

.form-check-input:focus {
    border-color: rgb(89, 134, 165);
}

.main-header.register-header {
    margin-top: 50%;
}

.login-wrapper .content {
    padding-top: 1rem;
}

.login-wrapper .login-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1.5rem;
}

.powered-by {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.4);
}

.default-page.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.default-page.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #f9f9f9 0%, #eaeaea 100%);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.default-page.container .row {
    padding: 20px;
    background: #fdfdfd;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
}