{% block main %}
    <div class="tab-pane" id="startup">
        {% include 'panel/server/tabs/startup/components/options.html.twig' %}
        {% include 'panel/server/tabs/startup/components/variables.html.twig' %}
    </div>
{% endblock %}