{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block header_custom_actions %}
    <a href="{{ path('panel', { routeName: 'recharge_balance' }) }}" class="btn btn-primary">
        <i class="fa fa-plus me-2"></i>{{ 'pteroca.cart_topup.title'|trans }}
    </a>
{% endblock %}
