<div class="alert alert-info" role="alert">
    <i class="fa fa-exclamation-circle"></i>
    {{ 'pteroca.servers.no_servers'|trans }}
    <a href="{{ path('panel', { routeName: 'store' }) }}">
        {{ 'pteroca.servers.click_to_buy'|trans }}
    </a>
</div>