parameters:
  version: '0.4.0'
  categories_base_path: '/uploads/categories'
  categories_directory: 'public/uploads/categories'
  products_base_path: '/uploads/products'
  products_directory: 'public/uploads/products'
  avatar_base_path: '/uploads/avatars'
  avatar_directory: 'public/uploads/avatars'
  avatar_max_size: '2M'
  avatar_allowed_extensions: ['image/jpeg', 'image/png']

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\Core\:
    resource: '../../*'
    exclude: '../../{DependencyInjection,DTO,Entity,Migrations,Tests,Kernel.php}'
    tags: ['controller.service_arguments']

  App\Core\Service\StoreService:
    arguments:
      $categoriesBasePath: '%categories_base_path%'
      $productsBasePath: '%products_base_path%'

  App\Core\Service\Mailer\MailerService:
    arguments:
      $twig: '@twig'

  App\Core\Twig\AppExtension:
    tags: [ 'twig.extension' ]

  App\Core\Service\System\SystemInformationService:
    arguments:
      $entityManager: '@doctrine.orm.entity_manager'

  App\Core\Service\System\SystemVersionService:
    arguments:
      $currentVersion: '%version%'

  App\Core\Twig\DynamicTwigLoader:
    arguments:
      $templatesBaseDir: '%kernel.project_dir%/themes'
    tags:
      - { name: 'twig.loader', priority: 1 }

