<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block head_stylesheets %}
            {% if get_current_template_options().isSupportCustomColors() %}
                {% include 'components/theme_styles.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        {% block head_favicon %}
            <link rel="shortcut icon" href="{{ asset(get_favicon()) }}">
        {% endblock %}
    </head>
    <body class="{% block body_class '' %}">
        {% block body %}{% endblock %}
        {% block body_javascript %}{% endblock %}
    </body>
</html>
