{# Custom Younglin main menu wrapper - customize this file to change items/structure #}
<nav class="younglin-menu">
    <div class="younglin-menu-inner">
        {{ include(ea.templatePath('main_menu')) }}
    </div>
</nav>
